[submodule "aeroo/aeroo_reports"]
	path = aeroo/aeroo_reports
	url = git@github.com:aeroo/aeroo_reports.git
	branch = 11.0

[submodule "ingadhoc/enterprise-extensions"]
	path = ingadhoc/enterprise-extensions
	url = git@github.com:ingadhoc/enterprise-extensions.git
	branch = 11.0

[submodule "OCA/knowledge"]
	path = OCA/knowledge
	url = git@github.com:OCA/knowledge.git
	branch = 11.0

[submodule "ingadhoc/multi-company"]
	path = ingadhoc/multi-company
	url = git@github.com:ingadhoc/multi-company.git
	branch = 11.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 11.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 11.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 11.0

[submodule "OCA/server-auth"]
	path = OCA/server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 11.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 11.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 11.0

[submodule "OCA/social"]
	path = OCA/social
	url = git@github.com:OCA/social.git
	branch = 11.0

[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 11.0

[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 11.0

[submodule "ingadhoc/account-financial-tools"]
	path = ingadhoc/account-financial-tools
	url = git@github.com:ingadhoc/account-financial-tools.git
	branch = 11.0

[submodule "ingadhoc/account-invoicing"]
	path = ingadhoc/account-invoicing
	url = git@github.com:ingadhoc/account-invoicing.git
	branch = 11.0

[submodule "ingadhoc/account-payment"]
	path = ingadhoc/account-payment
	url = git@github.com:ingadhoc/account-payment.git
	branch = 11.0

[submodule "ingadhoc/argentina-reporting"]
	path = ingadhoc/argentina-reporting
	url = git@github.com:ingadhoc/argentina-reporting.git
	branch = 11.0

[submodule "ingadhoc/argentina-sale"]
	path = ingadhoc/argentina-sale
	url = git@github.com:ingadhoc/argentina-sale.git
	branch = 11.0

[submodule "ingadhoc/miscellaneous"]
	path = ingadhoc/miscellaneous
	url = git@github.com:ingadhoc/miscellaneous.git
	branch = 11.0

[submodule "ingadhoc/odoo-argentina"]
	path = ingadhoc/odoo-argentina
	url = git@github.com:ingadhoc/odoo-argentina.git
	branch = 11.0

[submodule "ingadhoc/odoo-support"]
	path = ingadhoc/odoo-support
	url = git@github.com:ingadhoc/odoo-support.git
	branch = 11.0

[submodule "ingadhoc/partner"]
	path = ingadhoc/partner
	url = git@github.com:ingadhoc/partner.git
	branch = 11.0

[submodule "ingadhoc/project"]
	path = ingadhoc/project
	url = git@github.com:ingadhoc/project.git
	branch = 11.0
